<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LogFolder" value="./Logs/"/>
    <!-- List applications -->
    <add key="app.exe" value="app_path"/>
    <add key="notepad.exe" value="T:\TNT\Workspace\TNTProductions\system\system32\bin\Debug\system32.exe"/>
    <!-- End of list -->
    <add key="SleepMin" value="1"/>
  </appSettings>
</configuration>