<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="passioBackUpEntities" connectionString="metadata=res://*/Models.MyEntities.csdl|res://*/Models.MyEntities.ssdl|res://*/Models.MyEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.165.166.32;initial catalog=passio_Test;user id=sa;password=zaQ@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="passioTestEntities" connectionString="metadata=res://*/Models.MyEntities.csdl|res://*/Models.MyEntities.ssdl|res://*/Models.MyEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.165.166.32;initial catalog=passio_Test;user id=sa;password=zaQ@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>